shopping-list {
	.background-image {
		img {
			width: 100%;
			object-fit: fill;
			position: relative;
			filter: contrast(25%);
		}
		.image-text {
			position: absolute;
			top: 140px;
			left: 40px;
			padding: 30px;
			width: auto;
		}
	}
}
