<div class="background-image">
  <img src="https://pre00.deviantart.net/dddb/th/pre/f/2013/003/3/9/tea_shop_wasserschloss_by_k_a_n_e-d5q2u5t.jpg" alt="" flex>
  <div class="image-text">
    <h1 class="title" md-colors="{color: 'primary'}">Tea Shoppe</h1>
    <h3 class="sub-title" md-colors="{color: 'primary-50'}">A fake tea shop for you to fake order some fake tea!</h3>
  </div>
</div>
<options></options>
<div layout="row" layout-align="center center" layout-wrap>
  <div
      ng-repeat="tea in $ctrl.allTea | filter: $ctrl.teaService.getFilterOptions().search | filter: $ctrl.teaService.getFilterOptions().sortBy"
      flex="25">
    <shopping-list-item tea="tea" options="options"></shopping-list-item>
  </div>
</div>
