<splash></splash>
<options></options>
<div class="loader" ng-if="!$ctrl.teaLoaded" layout="row" layout-align="center center">
  <md-progress-circular md-mode="intermediate"></md-progress-circular>
</div>
<div layout="row" layout-align="start start" layout-wrap class="shopping-list md-padding" in-view="$ctrl.testView($inview)" ng-if="$ctrl.teaLoaded">
  <div
      ng-repeat="tea in $ctrl.allTea | filter: $ctrl.teaService.getFilterOptions().search | filter: $ctrl.teaService.getFilterOptions().sortBy"
      flex="25"
      layout-wrap
  >
    <shopping-list-item tea="tea" options="options"></shopping-list-item>
  </div>
</div>
