<md-content layout="row">
    <md-card md-theme-watch layout-margin>
      <md-card-title>
        <md-card-title-text flex>
          <span class="md-headline">{{::$ctrl.tea.name}}</span>
          <span class="md-subhead">Price: {{::$ctrl.tea.price/100 | currency}}</span>
          <span class="md-subhead">Ingredients: {{::$ctrl.tea.ingredients}}</span>
          <span class="md-subhead">Rating: {{::$ctrl.tea.rating}}</span>
          <span class="md-subhead">In Stock? {{ ::$ctrl.tea.inStock | inStock }}</span>
          <span class="md-subhead">Categories: <span ng-repeat="cat in $ctrl.tea.categories">{{cat}} </span></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-title-media layout="row" layout-align="right">
        <img ng-src={{$ctrl.tea.imageUrl}} alt="">
      </md-card-title-media>
      <md-card-actions layout="row" layout-align="end center">
        <span>Quantity: </span>
        <md-input-container>
          <md-select ng-model="$ctrl.quantity" aria-label="select">
            <md-option ng-repeat="item in $ctrl.totalQuantity" ng-value="item">{{::item}}</md-option>
          </md-select>
        </md-input-container>
        <md-button ng-click="$ctrl.addToCart($ctrl.tea, $ctrl.quantity)" ng-disabled="!$ctrl.quantity">Add to cart</md-button>
      </md-card-actions>
    </md-card>
</md-content>
